body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: rgb(85, 83, 83);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titulo-principal {
    padding: 12px 0;
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    text-shadow: black 2px 4px 3px;
    font-size: 35px;
    letter-spacing: 1.4px;
}

.main-content {
    width: 90%;
    height: 70%;
    max-width: 1000px;
    background-color: rgb(107, 105, 105);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn-border-radius {
    max-width: 55px;
    width: auto;
    font-size: 20px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.border-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 200px;
    flex-grow: 1;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.btn-enviar-valores {
    position: absolute;
    height: 35px;
    bottom: 0;
    font-size: 25px;
}

.btn-border-radius:nth-child(1) {
    position: absolute;
    left: 4%;
    top: -30px;
}

.btn-border-radius:nth-child(2) {
    position: absolute;
    right: 4%;
    top: -30px;
}

.btn-border-radius:nth-child(3) {
    position: absolute;
    left: 4%;
    bottom: 5px;
}

.btn-border-radius:nth-child(4) {
    position: absolute;
    right: 4%;
    bottom: 5px;
}

.border-edit {
    border: solid rgb(60, 243, 14) 3px;
    width: 200px;
    height: 200px;
}

.border-pequeno {
    width: 90px;
    height: 90px;
}

.border-medio {
    width: 150px;
    height: 150px;
}

.border-grande {
    width: 250px;
    height: 250px;
}

.border-edit p {
    display: block;
    width: 100%;
    text-align: center;
    color: #ccc;
}

.area-css {
    border: 1px black solid;
    width: 90%;
    position: relative;
}

.border-text-css {
    padding: 0 10px;
    color: rgb(168, 160, 160);
    font-size: 25px;

}

.span-text-css {
    color: rgb(197, 15, 15);
    font-weight: bold;
}

.copy-mode {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.copy-mode img {
    width: 30px;
}